services:

  postgres:
    image: postgres:15
    container_name: db_postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - backend
    ports:
      - "127.0.0.1:5432:5432"

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    volumes:
      - ./data/qdrant:/qdrant/storage
    networks:
      - backend

  strava_sync:
    build:
      context: ./strava_app
      dockerfile: Dockerfile
    container_name: strava_sync
    restart: unless-stopped
    env_file:
      - ./strava_app/.env
    environment:
      - DB_HOST=db_postgres
      - DB_PORT=5432
    ports:
      - "127.0.0.1:8080:8080"
    networks:
      - backend
    depends_on:
      - postgres

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data/n8n:/home/node/.n8n
      - ./pdfs:/home/node/.n8n-files
    depends_on:
      - postgres
      - qdrant
      - strava_sync
    networks:
      - backend
      - proxy

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - n8n
    networks:
      - proxy

networks:
  backend:
  proxy:
